*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
.content{
    height: 2000px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: relative;
    background: rgb(108,173,255);
    background: linear-gradient(90deg, rgba(108,173,255,1) 0%, rgba(234,141,255,1) 100%);
}   
.content *{
    font-size: 80px;
    color: white;
}   
